.ant-image-mask {
    border-radius: 50%;
    background-color: unset
}

.ant-image-img {
    width: 30px
}

.ant-image-mask-info {
    display: none !important
}

.nameHeader {
    margin-bottom: 0;
    color: white
}

.nameHeader span {
    font-size: 16px;
    font-weight: 700;
}

.ant-avatar {
    width: 110px;
}

.sideBar {
    background-color: #80808026;
    height: 90vh;
}

.sidebarRoom {
    display: block;
    margin-bottom: 5px;
    color: black !important;
    padding: 10px
}

.sidebarRoom:hover {
    background-color: #80808026;
    border-radius: 10px;
}

.sidebarBtn {
    color: black !important;
    padding: 0 6px;
}